{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/questionnaireStyle.css">

<div class="container-fluid paddTop4rem">
	<header class="container">
		<div class="row justify-content-center bg-secondary text-white">
			<div class="col-4 text-center">
				Questionnaire
			</div>
		</div>
	</header>
	</div>
	
<div class="row justify-content-center">
	<div class="col-5 m-3 p-2 bg-light shadow rounded">
		<p class="text-center">Questions will go here</p>
	</div>
</div>
{% for question in questions %}
<div class="row justify-content-center">
	<div class="col-5 m-3 p-2 bg-light shadow rounded">
		<p class="text-center">
			<b>question id: </b>{{question.id}}
			<br />
			<b>category: </b>{{question.category}}
			<br />
			<br />
			<b><u>{{question.question}}</u></b>
			<form action="" method="post">
			{% csrf_token %}
			{% for answer in question.getAnswers %}
				<label>
					<input type="radio" name={{question.id}} value={{answer.id}}>
					<span class="radio">{{answer.answer}}</span>
					</input>
				</label>
				<br />
			{% endfor %}
			<div class="submitButton"><input  type="submit" value="Submit"></div>
			{% csrf_token %}
			</form>
		</p>
	</div>
</div>
{% endfor %}
{% endblock %}