{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid paddTop4rem">
	<header class="container">
		<div class="row justify-content-center bg-secondary text-white">
			<div class="col-4 text-center">
				Questionnaire
			</div>
		</div>
	</header>
	</div>
	
<div class="row justify-content-center">
	<div class="col-5 m-3 p-2 bg-light shadow rounded">
		<p class="text-center">Questions will go here</p>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-5 m-3 p-2 bg-light shadow rounded">
		<p class="text-center">{{questions}}</p>
	</div>
</div>
{% for question in questions %}
<div class="row justify-content-center">
	<div class="col-5 m-3 p-2 bg-light shadow rounded">
		<p class="text-center">{{question.question}}</p>
	</div>
</div>
{% endfor %}
{% endblock %}