input[type="radio"]:checked {
	width: 26px;
    height: 26px;
}

#id_answer li:first-child
{
	display:none
}

ul {
  list-style-type: none;
}

label {
	min-width: 100%;
}

.submitButton{
	text-align: center;
}

