input[type="radio"]:checked + .radio {
  font-weight: bold;
}

#id_answer li:first-child
{
	display:none
}

ul {
  list-style-type: none;
}

label {
	min-width: 100%;
}

.submitButton{
	text-align: center;
}

