{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/homePageStyle.css">

    <div class="unfixedImg fullSizeImg bgImg">
      <div class="bgColorBlackTrans pictureTextBackground">
        <div class="container pictureTextBackground whiteFontColor centerMultipleTextItems">
          <h1>Congratulations! You are on the Salt Shakers Landing page!!! Good for you.</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid blackSection paddBot4rem paddTop4rem">
      <div class="container">
        <h2>What is Salt Shakers?</h2>
        <h5>Salt Shakers is a web application that will pair up gamers based on their interests. Our mission:</h5>
        <ul>
          <li>To provide our users with a friendly environment to just have fun.</li>
          <li>To provide a social environment to make new friends.</li>
          <li>This design isn't final, this is a test.</li>
        </ul>
      </div>
    </div>
{% endblock %}