<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Import bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- Import popper-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- Import jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Import google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Patrick+Hand" rel="stylesheet">
	<!-- Import local css -->
	<link rel="stylesheet" type="text/css" href="/static/styles/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/homePageStyle.css">
	<!-- Import local reusable scripts (header, footer, and navigation bar)-->
    <script src="/static/scripts/reuseScript.js"></script>
	
	<!-- Tab title and favicon -->
	<title>SaltShaker</title>
	<link rel="icon" type="image/png" href="/static/images/f-icon.png"> <!-- Favicon -->
</head>
<body>
	<!-- navbar -->
	<div id="reuseNavbar"></div>
	
	<!-- passed-in page content -->
	{% block content %}
	{% endblock %}
	
	<!-- footer -->
	<div id="reuseFooterWhite"></div>
</body>
</html>