{% extends 'layout.html' %}
  

{% block content %}
<div class = "container-fluid paddTop4rem">

	<head>
		<title>User Profile Page</title>
	</head>
	<body>
		<h1 ALIGN=CENTER>User Profile Page Rough Idea</h1>
			<u1>
		<h2 ALIGN=CENTER>{{ profile.user.username}}</h2>
		
		<!-- Rate User Modal -->
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Rate User
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Rate User: {{profile.user.username}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          TODO :: User voting form goes here!
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
        </div>
        
      </div>
    </div>
  </div>
  
		<br />
		<br />
		
		Bio: {{profile.bio}}<br />
		<h3>Games I am Playing</h3>
		<li>	Overwatch</li>
		<li>	League of Legends</li>
		<li>	Counter Strike: Global Offensive</li>
			</u1>
		<h4>Questionare Answers</h4>
		<li>Question 1: "Answer here"</li>
		<li>Question 2: "Answer here"</li>
		<li>Question 3: "Answer here"</li>
		<br> </br>
		<P ALIGN = CENTER> <button type="button">Add Me</button> </p>
	</body>

</div>
{% endblock %}
	